@media (max-width:420px) {
    #main{
        overflow: hidden;
    }
    /* menu */
    #full{
        width: 40%;
        padding: 30vw 5vw;
        z-index: 999999999;
        /* left: 100%; */
        overflow: hidden;
    }
    #full h4{
        font-size: 9vw;
        font-weight: 500;
        margin-bottom: 10px;
    }
    #full i{
        top: 4%;
        right: 15%;
        padding: 8px;
    }



    #hit-1{
        height: 100vh;
        width: 100vw;
        /* overflow-x: hidden; */
    }
    nav{
        /* display: none; */
        width: 100%;
        height: 8%;
        /* background-color: #cd2b2b; */
    }
    nav #bar{
        justify-content: space-between;
    }
    #bar #logo img{
        width: 18vw;
        height: 11vw;
        margin-top: 9%;
    }
    #bar .links a{
        display: none;
    }
    #bar .links i{
        font-size: 5vw;
        /* margin-left: 0; */
        margin-right: 10vw;
        cursor: pointer;
    }
    #hit-1 section{
        width: 100%;
        height: 92%;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        position: relative;
    }
    section #content h1{
        font-size: 8vw;
        margin: 3rem 5rem 0 1.5rem;
    }
    section #content h1 span{
        font-size: 10vw;
    }
    section #content p{
        display: none;
    }
    section .image{
        width: 100%;
        position: static;
        /* overflow: hidden; */
        left: 0;
        top: 80%;
        /* z-index: 999999999999999; */
    }
    section .image .box{
        position: absolute;
        width: 500px;
        height: 500px;
        right: -300px;
        bottom: -300px;
        top: 30%;
    }
    .image .box img{
        width: 60vw;
        height: 100vw;
        margin: -50px 0 0 0;
    }
    .image .green{
        opacity: 1;
        transform: rotate(-20deg) translateX(10%);
        filter: drop-shadow(2px 2px 10px #007146);
    }
    .image .green img{
        width: 60vw;
        transform: rotate(-20deg);
        filter: drop-shadow(2px 2px 10px #007146);
    }
    .image .orange img{
        width: 60vw;
        transform: rotate(-20deg);
        filter: drop-shadow(2px 2px 10px orange);
    }
    .image .orange{
        filter: drop-shadow(2px 2px 10px #000);
    }
    .image .pink{
        filter: drop-shadow(2px 2px 10px black);
    }
    .image .pink img{
        height: 80vw;
        filter: drop-shadow(2px 2px 10px rgb(255,0,43));
    }
    .img-links{
        width: 40%;
        height: 15vh;
        position: absolute;
        bottom: 0;
        margin: 1vw 0;
        gap: 2.5vw;
    }
    .img-links .a img{
        width: 55px;
        height: 85px;
    }
    #updated{
        padding: 5vw 3vw;
        position: relative;
    }
    #updated h2{
        margin-top: 5vw;
        margin-left: 2vw;
        font-size: 5vw;
        font-weight: 100;
        letter-spacing: 2px;
    }
    #updated h1{
        font-size: 10vw;
        margin-top: 1vw;
        position: relative;
        text-align: center;
    }
    #updated h1::after{
        display: none;
    }
    #updated>p{
        display: none;
    }
    #updated #order p{
        display: none;
    }
    #updated #order button{
        padding: 3vw 4vw;
        position: absolute;
        top: 69%;
        left: 50%;
        transform: translateX(-50%);
    }
    #video-section{
        height: 100vw;
        width: 100%;
        margin-top: -10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #video-section #vid{
        height: 100%;
        width: 100%;
        border: 3px solid white;
    }
    #video-section #vid video{
        object-position: center;
    }
    #video-section #vid-text p{
        display: none;
    }
    #video-section #vid-text{
        width: 100%;
    }
    #video-section #vid-text h4{
        margin: 3vw 0;
        text-align: center;
        font-size: 8vw;
        color: #0bff71;
    }
    #updated img{
        position: absolute;
        height: 25%;
        width: 100%;
        object-fit: cover;
        object-position: 25% 70%;
        top: 77%;
    }
    .hit_3{
        display: none;
    }
    #hit-2 #response-content{
        height: 100%;
        width: 100%;
        position: relative;
        background-color: rgb(0, 0, 0);
        display: block;
    }
    #response-content #response-img{
        height: 40%;
        width: 50%;
        margin-left: 26vw;
        margin-top: 12vw;
        border-radius: 20px;
        overflow: hidden;
    }
    #response-content #response-img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    #response-content h1{
        font-size: 9vw;
        margin-top: 5vw;
        margin-left: 25vw;
        color: #0bff71;
    }
    #response-content p{
        font-size: 4.3vw;
        margin-top: 6vw;
        margin-left: 13vw;
    }
    
    #response-content #response-button{
    height: 15vw;
    width: 18vw;
    display: flex;
    gap: 4vw;
    transform: translateX(170%);
    margin-top: 15vw;
    }

    #response-content #response-button button{
    padding: 4vw 6vw;
    font-size: 6vw;
    font-weight: bold;
    }

    #response-cart{
        height: 12vw;
        width: 24vw;
        background-color: #007146;
        transform: translateX(155%);
        margin-top: 8vw;
        border-radius: 50px;padding: 0.1px 0 0 0 ;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.3vw;
    }

    #response-cart p{
        font-size: 4vw;
    }
    #hit-3{
        display: none;
        height: 0vw;
        width: 0vw;
    }
    #hit-3 #page3{
        display: none;
    }
    /* #two {
        justify-content: flex-start;
        width: 100vw;
        height: 100vh;
        background-color: #000000;
        padding: 0 5vw 0 0;
    }
    .textarea {
        width: 70%;
        height: 100%;
        margin-left: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9;
    }
    .textarea h1{
        font-size: 8vw;
    }
    .textarea p{
        font-size: 4vw;
        text-align: center;
        margin-top: 15vw;
    }
    .textarea a{
        display: none;
    }
    .lineone{
        width: 25vw;
        height: 100vh;
        overflow: visible;
    }
    .lineone:nth-last-child(1){
        display: none;
    }
    .innerline{
        display: flex;
        flex-direction: column;
        gap: 2vw;
        width: 100%;
        margin-left: 3vw;
        height: 300vh;
    }
    #linetwo{
        display: none;
    }
    .cards{
        width: 200%;
        height: 23vh;
    } */
    #hit-4{
        height: 80vh;
        width: 100vw;
    }
    #top{
        position: absolute;
        top: 0%;
        width: 100%;
        height: 50vh;
        z-index: 1;
        overflow: hidden;
    }
    #center{
        position: relative;
        width: 100%;
        height: 40vh;
        padding-bottom: -10vw;
    }
    #bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }

    #hit-4 h1{
        font-family: Founder;
        font-size: 15vw;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #0bff71;
    }
    
    #bottom-h1{
        display: none;
    }
    .page4-content{
        margin-top: 100vw;
        width: 100%;
        height: 80vh;
        color: #ffffff;
        gap: 4vh;
    }
    .page4-content h3{
        width: 60%;
        font-size: 6vw;
        font-family: CardinalR;
        text-align: center;
        font-weight: 100;
    }

    .page4-content img{
        height: 50vw;
        width: 40vw;
    }







    #hit-5{
        padding: 1vw 2vw;
    }
    #hit-5>h1{
        font-size: 8vw;
    }
    #hit-5 .upper-menu{
        margin-top: 6vw;
        height: 100%;
        flex-direction: column;
        gap: 2vw;
    }
    #hit-5 .upper-menu .menu-card{
        height: 50vw;
        width: 90%;
        background-color: rgb(0, 0, 0);
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 4px 4px 10px black;
        position: relative;
    }
    #hit-5 .upper-menu .menu-card img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .menu-card h1{
        font-size: 2vw;
        position: absolute;
        color: white;
        z-index: 99999;
        top: 82%;
        left: 4%;
    }
    #hit-5 .down{
        display: none;
    }
    .menu-card h1{
        font-size: 5vw;
        position: absolute;
        color: rgb(133, 128, 128);
    }
    .menu-card button{
        color: white;
        padding: 2vw 4vw;
        border-radius: 50px;
        background-color: rgb(106, 73, 73);
        color: rgb(255, 255, 255);
        top: 70%;
        left: 68%;
        border: 2px solid white;
        overflow: hidden;
    }
    #footer{
        width: 100%;
        height: 108vh;
        padding: 8vh 0 0 0;
    }
    #box{
        width: 100%;
        height: 30%;
        display: flex;
        align-items:flex-start;
        justify-content: center;
        gap: 1vh;
        padding: 10px 10px;
    
    }
    #box .hide-foot{
        display: none;
    }
    .boxes{
        height: 100%;
        width: fit-content;
     
        padding: 10px 10px ;
        
    }
    .boxes h3{
        font-weight: 100;
        margin-bottom: 4vw;
        font-size: 6vw;
    }
    .boxes h5{
        font-weight: 100;
        font-size: 4vw;
        margin-bottom: 2vw;
        position: relative;
    }
    #box2{
        width: 100%;
        height: 15%;
        align-items: center;
        padding: 0px 0;
        position: relative;
        top: 20%;
    }
    #box2 #left{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        margin-left: 9vw;
        
    }
    #box2 #left a{
        height:12vw;
        width: 12vw;
        font-size: 6vw;
        border: 3px solid gray;       
    }
    #box3{
        width: 100%;
        height: 20vw;
        /* background-color: red; */
        margin-top: 8vw;
        padding: 0px 0;
    }
    #box3 h3{
        padding-left: 6vw;
        margin-right: 2vh;
        margin-top: 2vw; 
        font-size: 4.5vw;
    }
    #string{
        margin-top: -5vw;
    }
    
}


/* Mene 2 se teen jagah hide name ki classes change ki he html me toh woh change karna padega */
/* ek jagah footer me dii he hide-foot karke aur ek jagah wo line scrolling wale section me */